/* цвет основного текста #212121; */
/* цвет второстепенного текста  #757575; */
/* акцент цвет  #2196F3*/
/* белий цвет #FFFFFF */
/* цвет сылок подвала color rgba(255, 255, 255, 0.6); */
/* цвет фона вторичный background: #F5F4FA; */
/* Цвет подвала background: #2F303A; */
:root {
  --primery-text-color: #212121;
  --secondary-text-color: #757575;
  --whitе-text-color: #ffffff;
  --accent-color: #2196f3;
  /* Цвет подвала background: #2F303A; */
  --secondary-background-color: #2f303a;
}

body {
  background: var(--whitе-text-color);
  color: var(--primery-text-color);
}

/* Сбрасывает маркеры со списков */
.list {
  list-style: none;
}

/* Контакты */
.contacts {
  text-decoration: none;
}
.contacts-top {
  color: var(--secondary-text-color);
}
.contacts-top:hover,
.contacts-top:focus {
  color: var(--accent-color);
}
.contacts-bot {
  color: rgba(255, 255, 255, 0.6);
}

/* навигация Шапки */
.header-nav .link {
  color: var(--primery-text-color);
  text-decoration: none;
}
.header-nav .link:hover,
.header-nav .link:focus {
  color: var(--accent-color);
}

/* hero */
.hero {
  background-color: var(--secondary-background-color);
}
.hero-title {
  color: var(--whitе-text-color);
}
.hero-bt {
  color: var(--whitе-text-color);
  background-color: var(--accent-color);
}

/* Преимущества */
.features {
}
.features-list {
}

/* Наша команда */
.team {
  background-color: #f5f4fa;
}

/* Заголовки */
.section-title {
  color: var(--primery-text-color);
}
.after-title {
  color: var(--secondary-text-color);
}

/* Логотип */
.logo {
  text-decoration: none;
}
.logo-web {
  color: var(--accent-color);
}
.logo-top {
  color: #000000;
}
.logo-bot {
  color: var(--whitе-text-color);
}
/* Подвал */

.footer {
  background-color: var(--secondary-background-color);
  color: var(--whitе-text-color);
}
.footer-list .link:focus,
.footer-list .link:hover {
  color: var(--accent-color);
}

/*Портфолио */
.portfolio {
  background-color: #e5e5e5;
}
.button {
  cursor: pointer;
}
.button-list :hover,
.button-list :focus {
  border-color: var(--accent-color);
  color: var(--whitе-text-color);
}
